DB_USERNAME=
DB_PASSWORD=

# 구글 OAuth2 설정
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# 카카오 OAuth2 설정
KAKAO_CLIENT_ID=
KAKAO_CLIENT_SECRET=

TOSS_CLIENT_KEY=
TOSS_SECRET_KEY=

# 이메일 인증
MAIL_USERNAME=
MAIL_PASSWORD=

# SolApi 문자, 알림톡 SMS 서비스
SOLAPI_KEY=
SOLAPI_SECRET_KEY=
SOLAPI_SENDER_NUMBER=

# AI
GEMINI_API_KEY=